<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>{{pageTitle}}</title>
  </head>
  <body>
      {{> header}}
      <p>This is my first node app</p>
<!--in order to pass dynamic data we need to pass some data into the template (an object, a set of key-value pairs)-->
      {{> footer}}
  </body>
</html>
