<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>Some Website</title>
  </head>
  <body>
      {{> header}}
      <!--function name as first arg and text to be capitalized as second arg-->
      <p>{{screamIt welcomeMessage}}</p>
      {{> footer}}
  </body>
</html>
